.content{
    width: 55%;
    margin: auto;
    padding-top: 20px;
}

.title {
    font-weight: 500;
    font-size: 20px;
}

.card-content{
    margin: auto;
    width: 75%;
    padding: 30px 0;
}
.card-content label{
    padding-bottom: 10px;
}

.card-content div{
    padding-bottom: 30px;
}

.btn-group{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 !important;
}

.btn{
    font-size: 14px;
}

.form-group{
    display: flex;
}

.form-group label{
    margin: auto;
    width: 20%;
    padding: 0 !important;
}

.form-group input{
    font-size: 14px;
    width: 80%;
}

.form-group .date-input{
    font-size: 14px;
    width: 80%;
    padding: 0 !important;
    display: flex;
}

.form-group select{
    font-size: 14px;
    width: 80%;
}