<div class="login-content">
    <div class="title">EmployeesApp</div>
    <hr>
    <div class="alert alert-danger alert-failed" role="alert" *ngIf="isLogin === false">
        Login failed! Invalid data
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="card m-auto d-flex align-middle login-card">
            <div class="container-fluid w-75 pt-4 pb-4">
                <div class="row">
                    <div class="col">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control form-control-sm" id="inputUsername" placeholder="your username" formControlName="username">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control form-control-sm" id="inputPassword" placeholder="password" formControlName="password">
                    </div>
                </div>
                <button class="btn btn-outline-primary mt-4 mb-1 login-btn" [ngClass]="{'disabled': loginForm.value.username === '' || loginForm.value.password === ''}" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>